<!DOCTYPE html>
<html lang="en" dir='ltr'>

  <head>
    <meta charset="utf-8">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script> -->
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
    <script src="../static/js/dep/p5.min.js"></script>
    <script src="../static/js/dep/three.min.js"></script>
    <script src="../static/js/dep/gio.min.js"></script>
    <script src="../static/js/dep/planetaryjs.min.js"></script>
     <link rel="stylesheet" href="../static/css/style.css">
    <title>PA~PT</title>

  </head>
  <body>
    <h1>App landing page</h1>
    <canvas id="globalArea" width='400' height='400'> </canvas>
    <script src="../static/js/plan_anim.js"></script>

  </body>


</html>
